.Content {
    font-size: 1.30rem;
    min-width: 500px;
}

.Table {
    width: 100%;
    border-spacing: 0;

    td {
        padding: 10px 6px;
        vertical-align: middle;
    }

    tr:nth-child(even) {
        // background-color: #ddd;
        td {
            border-top: 1px solid #ddd;
        }
    }

    .TdName {
        width: 49%;
    }

    .TdArrow {
        width: 2%;
        color: #b9b9b9;

        div {
            display: flex;
            align-items: center;
        }
    }

    .TdRace {
        width: 49%;
        white-space: nowrap;
        text-align: right;
    }
}
