.Root {
    padding: 10px 10px;
    display: flex;
}

.StatusWrapper {
    flex-grow: 1;
    font-size: 1.15rem;
    display: flex;
    align-items: center;

    span {
        padding: 4px 10px;
        border-radius: 4px;
        text-align: center;
        color: #fff;
        background-color: #53ac53;
        text-decoration: none;

        &.Active {
            cursor: pointer;
            background-color: #fd0c00;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
