.Table {
    min-width: 650px;

    td, th {
        font-size: 1.25rem;
    }
}

.TableHead th {
    font-weight: bold;
}

.TdReady {
    width: 1%;
}

.TdTeam > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TeamLabel {
    min-width: 80px;
}
